<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/libs/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="../public/libs/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../public/libs/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="header">
            <a href="/" class="navbar-brand">
                <span>EasyTransit</span>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/reg">Реєстрація</a></li>
            <li><a href="/login">Ввійти</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
    </div>
</div>

<script>
    $(document).ready(function () {

    })
</script>
</body>
</html>